<script>
    const floors = [
    {% for floor in floors.all %}
    {
        id: {{floor.id | safe}},
        image: '/media/{{ floor.image }}',
            desks: [
        {% for room in floor.rooms.all %}
        {% for desk in room.desks.all %}
        {
            id: {{desk.id | safe}},
            name: '{{desk.name}}',
            width: {{desk.width | safe}},
            height: {{desk.height | safe}},
            x: {{desk.pos_x | safe}},
            y: {{desk.pos_y | safe}},
            orientation: {{desk.orientation | safe}},
            url: '{% url 'desk' id=desk.id %}?date={{ date | date:'Y-m-d' }}',
            blocked: {{ desk.is_blocked | yesno:'true,false' }},
            booked: {% if desk.bookings.exists %}'{{ desk.bookings.first.user.username }}'{% else %}null{% endif %},
        },
        {% endfor %}
        {% endfor %}
    ],
    },
    {% endfor %}
    ];

    const canvasWidth = 1920;
    const canvasHeight = 960;

    floors.forEach(function(floor) {
        const stage = new Konva.Stage({
            container: 'map-container-' + floor.id,
            width: canvasWidth,
            height: canvasHeight,
            draggable: true,
            scaleX: 1,
            scaleY: 1,
        });

        const floorLayer = new Konva.Layer();
        const deskLayer = new Konva.Layer();
        const labelLayer = new Konva.Layer();

        Konva.Image.fromURL(floor.image, function (imageNode) {
            imageNode.setAttrs({
                x: 0,
                y: 0,
            });

            const imageWidth = imageNode.attrs.image.width;
            const imageHeight = imageNode.attrs.image.height;

            const zoom = Math.min(stage.width() / imageWidth, stage.height() / imageHeight);

            stage.scaleX(zoom);
            stage.scaleY(zoom);

            stage.offsetX(-(stage.width() * 0.5 - imageWidth * zoom * 0.5) / zoom);
            stage.offsetY(-(stage.height() * 0.5 - imageHeight * zoom * 0.5) / zoom);

            floorLayer.add(imageNode);
        });

        floor.desks.forEach(function(desk) {
            const deskRect = new Konva.Rect({
                x: desk.x,
                y: desk.y,
                width: desk.width,
                height: desk.height,
                fill: desk.blocked ? 'rgba(249, 215, 117, 0.5)' : (desk.booked ? 'rgba(73, 100, 192, 0.5)' : 'rgba(65, 185, 149, 0.5)'),
                rotation: desk.orientation,
            });

            deskRect.on('mouseover', function () {
                deskRect.fill(desk.blocked ? 'rgba(249, 215, 117, 1.0)' : (desk.booked ? 'rgba(73, 100, 192, 1.0)' : 'rgba(65, 185, 149, 1.0)'));
                stage.container().style.cursor = 'pointer';
            });
            deskRect.on('mouseout', function () {
                deskRect.fill(desk.blocked ? 'rgba(249, 215, 117, 0.5)' : (desk.booked ? 'rgba(73, 100, 192, 0.5)' : 'rgba(65, 185, 149, 0.5)'));
                stage.container().style.cursor = 'default';
            });
            deskRect.on('click tap', function () {
                window.location.href = desk.url;
            });

            deskLayer.add(deskRect);

            const deskLabel = new Konva.Text({
                x: desk.x,
                y: desk.y,
                width: desk.width,
                height: desk.height,
                fontSize: 14,
                align: 'center',
                verticalAlign: 'middle',
                fill: 'black',
                rotation: desk.orientation,
                text: desk.name + '\n\n' + (desk.blocked ? 'NICHT VERFÜGBAR' : (desk.booked ? desk.booked : 'FREI')),
                listening: false,
            });
            labelLayer.add(deskLabel);
        })

        stage.add(floorLayer);
        stage.add(deskLayer);
        stage.add(labelLayer);

        floorLayer.draw();
        deskLayer.draw();
        labelLayer.draw();

        const scaleBy = 1.05;
        stage.on('wheel', (e) => {
            // stop default scrolling
            e.evt.preventDefault();

            const oldScale = stage.scaleX();
            const pointer = stage.getPointerPosition();

            const mousePointTo = {
                x: (pointer.x - stage.x()) / oldScale,
                y: (pointer.y - stage.y()) / oldScale,
            };

            let direction = e.evt.deltaY > 0 ? -1 : 1;

            if (e.evt.ctrlKey) {
                direction = -direction;
            }

            const newScale = direction > 0 ? oldScale * scaleBy : oldScale / scaleBy;

            stage.scale({ x: newScale, y: newScale });

            const newPos = {
                x: pointer.x - mousePointTo.x * newScale,
                y: pointer.y - mousePointTo.y * newScale,
            };
            stage.position(newPos);
        });

        function fitStageIntoParentContainer() {
            const container = document.querySelector('#map-container-' + floor.id);

            const containerWidth = container.offsetWidth;

            const scale = containerWidth / canvasWidth;

            stage.width(canvasWidth * scale);
            stage.height(canvasHeight * scale);
            stage.scale({ x: scale, y: scale });
        }

        fitStageIntoParentContainer();

        window.addEventListener('resize', fitStageIntoParentContainer);
    });


</script>