<nav
        class="uk-navbar-container"
        uk-navbar
>
    <div class="uk-navbar-left">
        <span
                class="uk-navbar-item uk-logo"
        >
            MultiSpace {% if title %}- {{title}}{% endif %}
        </span>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a
                        href="{% url 'dashboard' %}"
                >
                    Startseite
                </a>
            </li>
            <li>
                <a
                        href="{% url 'bookings' %}"
                >
                    Meine Buchungen
                </a>
            </li>
            <li>
                <a href="#">{{user.username}}</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="{% url 'password' %}">Passwort ändern</a></li>
                        {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Administration</a></li>
                        <li><a href="{% url 'manage-floors' %}">Bereiche Verwalten</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Abmelden</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>