{% extends "base.html" %}

{% block title %} - {{desk.name}}{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="uk-container uk-margin-top">
    <div uk-grid>
        <div class="uk-width-expand">
            <h5 class="uk-margin-small-bottom">Tag auswählen</h5>
            <form>
                <a
                        href="{% url 'desk' id=desk.id %}?date={{yesterday | date:'Y-m-d'}}"
                        class="uk-button uk-button-default"
                        uk-icon="icon: arrow-left"
                        uk-tooltip="Vorheriger Tag"
                ></a>
                <a
                        href="{% url 'desk' id=desk.id %}?date={{tomorrow | date:'Y-m-d'}}"
                        class="uk-button uk-button-default"
                        uk-icon="icon: arrow-right"
                        uk-tooltip="Nächster Tag"
                ></a>
                <input
                        type="date"
                        class="uk-input uk-form-width-medium"
                        value="{{ date | date:'Y-m-d'}}"
                        name="date"
                />
                <button
                        type="submit"
                        class="uk-button uk-button-default"
                        uk-tooltip="Ausgewählten Tag anzeigen"
                >
                    Anzeigen
                </button>
            </form>
        </div>
        <div class="uk-width-auto">
            {% if bookings.exists and bookings.first.user == user %}
            <button
                    uk-toggle="target: #cancel-modal"
                    class="uk-button uk-button-danger"
                    type="button"
                    uk-tooltip="Buchung stornieren"
            >
                Stornieren
            </button>
            {% endif %}
            {% if not desk.is_blocked and not bookings.exists %}
            <button
                    uk-toggle="target: #booking-modal"
                    class="uk-button uk-button-primary"
                    type="button"
                    uk-tooltip="Tisch buchen"
            >
                Buchen
            </button>
            {% endif %}
        </div>
    </div>

    <div class="uk-margin-medium-top">
        <h5 class="uk-text-muted uk-margin-remove">
            {{ date | date:'d.m.Y' }}
        </h5>
        <div class="uk-flex uk-flex-middle">
            <h2 class="uk-margin-remove">
                {{ desk.name }}
            </h2>
            <div class="uk-margin-small-left">
                {% include 'booking_state.html' with desk=desk bookings=bookings %}
            </div>
        </div>
        <h4 class="uk-text-muted uk-margin-remove">
            @ {{ desk.room.floor.name }}.{{ desk.room.name }}
        </h4>
    </div>

    <div class="uk-margin-large-top">
        <div class="uk-flex">
            <h4 class="uk-text-primary"><small>Aktueller Monat:</small> {{ date | date:"F" }}</h4>
            <div class="uk-margin-auto-left">
                <a
                    href="{% url 'desk' id=desk.id %}?date={{ previous_month | date:'Y-m-d' }}"
                    class="uk-button uk-button-default"
                    uk-tooltip="Vorheriger Monat"
                >
                    <span uk-icon="arrow-left"></span>
                </a>
                <a
                    href="{% url 'desk' id=desk.id %}?date={{ next_month | date:'Y-m-d' }}"
                    class="uk-button uk-button-default"
                    uk-tooltip="Nächster Monat"
                >
                    <span uk-icon="arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="uk-margin">
            <div
                    class="uk-child-width-expand uk-grid-small uk-margin-bottom"
                    uk-grid
            >
                <div>Mo.</div>
                <div>Di.</div>
                <div>Mi.</div>
                <div>Do.</div>
                <div>Fr.</div>
            </div>
            {% for week in month %}
            <div
                    class="uk-child-width-expand uk-grid-small uk-margin-remove-top"
                    uk-grid
            >
                {% for day in week %}
                {% if forloop.counter > 5 %}
                
                {% elif day %}
                <a
                        href="{% url 'desk' id=desk.id %}?date={{ day.date | date:'Y-m-d' }}"
                        style="position: relative; {{ day.active | yesno:'outline: 2px solid #003087; z-index: 3000;,' }} border: 1px solid lightgray;"
                        class="uk-card uk-card-hover uk-card-body uk-padding-small uk-height-small"
                >
                    <div>{{ day.day }}.</div>
                    <div class="uk-margin-small-top">{% include 'booking_state.html' with desk=desk bookings=day.bookings %}</div>
                </a>
                {% else %}
                <div class="uk-card uk-card-body uk-padding-small uk-height-small" style="border: 1px solid transparent;"></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<form
        method="post"
        id="booking-modal"
        uk-modal
>
    {% csrf_token %}
    <input
            name="date"
            value="{{ date | date:'Y-m-d' }}"
            hidden
    />
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{{ desk.name }} buchen</h2>
        <p>
            Sind Sie sicher, dass Sie den Arbeitsplatz <span class="uk-label">{{ desk.name }}</span> am
            <span class="uk-label">{{ date | date:'d.m.Y' }}</span> buchen möchten?
        </p>
        <p class="uk-text-right">
            <button
                    class="uk-button uk-button-default uk-modal-close"
                    type="button"
            >
                Abbrechen
            </button>
            <button
                    class="uk-button uk-button-primary"
                    type="submit"
            >
                Buchen
            </button>
        </p>
    </div>
</form>

<form
        method="post"
        id="cancel-modal"
        uk-modal
>
    {% csrf_token %}
    <input
            name="date"
            value="{{ date | date:'Y-m-d' }}"
            hidden
    />
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Buchung für {{ desk.name }} stornieren</h2>
        <p>
            Sind Sie sicher, dass Sie den Arbeitsplatz <span class="uk-label">{{ desk.name }}</span> am
            <span class="uk-label">{{ date | date:'d.m.Y' }}</span> stornieren möchten?
        </p>
        <p class="uk-text-right">
            <button
                    class="uk-button uk-button-default uk-modal-close"
                    type="button"
            >
                Abbrechen
            </button>
            <button
                    class="uk-button uk-button-danger"
                    type="submit"
            >
                Stornieren
            </button>
        </p>
    </div>
</form>

{% endblock %}
