{% extends "base.html" %}

{% load i18n %}

{% block title %} - Login{% endblock %}

{% block bodyClass %}login{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-margin-top">
        <h1>MultiSpace</h1>
        <form method="post">
            {% csrf_token %}
            <div class="uk-margin">
                <input
                        class="uk-input {{ invalid|yesno:'uk-form-danger,' }}"
                        placeholder="{% translate 'Benutzername' %}"
                        name="username"
                        value="{{ username }}"
                        required
                />
            </div>
            <div class="uk-margin">
                <input
                        class="uk-input {{ invalid|yesno:'uk-form-danger,' }}"
                        type="password"
                        placeholder="{% translate 'Passwort' %}"
                        name="password"
                        required
                />
            </div>
            {% if invalid %}
            <div
                    class="uk-alert-danger"
                    uk-alert
            >
                <a
                        class="uk-alert-close"
                        uk-close
                ></a>
                <p>{% translate 'Benutzername und/oder Passwort falsch' %}</p>
            </div>
            {% endif %}
            <div class="uk-margin">
                <button
                        class="uk-button uk-button-primary"
                        type="submit"
                >
                    {% translate 'Anmelden' %}
                </button>
            </div>
        </form>
    </div>
</div>

<div
        class="login-bottom-decorator"
>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/aivot-digital/multispace">@ github</a>
        </li>
        <li>
            <a target="_blank" href="https://aivot.de/">&copy; Aivot</a>
        </li>
    </ul>

    <div class="uk-text-center uk-text-small uk-text-muted uk-text-light">
        <a href="{% url 'changelog' %}" target="_blank">
            Version: {{ version }}
        </a>
    </div>
</div>

{% endblock %}
