{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' with title=floor.name %}

<div
        class="uk-padding"
        uk-grid
>
    <div class="uk-width-auto@s">
        <form method="post">
            {% csrf_token %}
            <div class="uk-margin-small-bottom">
                <input
                        class="uk-input"
                        name="room-name"
                        required
                        placeholder="Neuer Raum"
                />
            </div>
            <button
                    name="action"
                    class="uk-button"
                    type="submit"
                    value="new-room"
            >
                Raum hinzufügen
            </button>
        </form>

        {% for room in rooms %}
        <div class="uk-flex uk-flex-between uk-margin-large-top">
            <h4 class="uk-margin-right">{{room.name}}</h4>
            <form method="post">
                {% csrf_token %}
                <input
                        type="hidden"
                        name="room-id"
                        value="{{room.id}}"
                >
                <button
                        type="submit"
                        name="action"
                        value="delete-room"
                        class="uk-button uk-button-small"
                >
                    <span uk-icon="icon: trash"></span>
                </button>
            </form>
        </div>
        <ul class="uk-list">
            {% for desk in room.desks.all %}
            <li class="uk-flex uk-flex-between">
                {{desk.name}}
                <form method="post">
                    {% csrf_token %}
                    <input
                            type="hidden"
                            name="desk-id"
                            value="{{desk.id}}"
                    >
                    <button
                            type="submit"
                            name="action"
                            value="delete-desk"
                            class="uk-button uk-button-small"
                    >
                        <span uk-icon="icon: trash"></span>
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>

        <form method="post">
            {% csrf_token %}
            <input
                    type="hidden"
                    name="room-id"
                    value="{{room.id}}"
            />
            <div class="uk-margin-small-bottom">
                <input
                        class="uk-input"
                        name="desk-name"
                        required
                        placeholder="Neuer Tisch"
                />
            </div>
            <button
                    name="action"
                    class="uk-button"
                    value="new-desk"
                    type="submit"
            >
                Tisch Hinzufügen
            </button>
        </form>
        {% endfor %}
    </div>
    <div class="uk-width-expand@s">
        <form
                method="post"
                class="uk-margin-small-bottom"
        >
            {% csrf_token %}
            {% for desk in desks %}
            <input
                    type="hidden"
                    id="{{desk.id}}.width"
                    name="{{desk.id}}.width"
                    value="{{desk.width | safe}}"
            />
            <input
                    type="hidden"
                    id="{{desk.id}}.height"
                    name="{{desk.id}}.height"
                    value="{{desk.height | safe}}"
            />
            <input
                    type="hidden"
                    id="{{desk.id}}.pos_x"
                    name="{{desk.id}}.pos_x"
                    value="{{desk.pos_x | safe}}"
            />
            <input
                    type="hidden"
                    id="{{desk.id}}.pos_y"
                    name="{{desk.id}}.pos_y"
                    value="{{desk.pos_y | safe}}"
            />
            <input
                    type="hidden"
                    id="{{desk.id}}.orientation"
                    name="{{desk.id}}.orientation"
                    value="{{desk.orientation | safe}}"
            />
            {% endfor %}
            <button
                    type="submit"
                    class="uk-button"
                    name="action"
                    value="save-desks"
            >
                Änderungen Speichern
            </button>
        </form>

        <div
                id="map-container"
                class="map-container"
        ></div>
    </div>
</div>

<script>
    const floor = {
        id: {{floor.id | safe}},
        image: '/media/{{ floor.image }}',
        desks: [
            {% for desk in desks %}
            {
                id: {{desk.id | safe}},
                name: '{{desk.name}}',
                width: {{desk.width | safe}},
                height: {{desk.height | safe}},
                pos_x: {{desk.pos_x | safe}},
                pos_y: {{desk.pos_y | safe}},
                orientation: {{desk.orientation | safe}},
            },
            {% endfor %}
        ]
    };
    MSP.initMap('map-container', floor, true);


</script>

{% endblock %}
