{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}

<div class="uk-container uk-margin-top">
    <form
            method="post"
            class="uk-grid-small"
            uk-grid
            enctype='multipart/form-data'
    >
        {% csrf_token %}
        <div class="uk-width-1-2@s">
            <input
                    class="uk-input"
                    type="file"
                    name="file"
                    required
                    accept=".mspd"
            >
        </div>
        <div class="uk-width-1-2@s">
            <button
                    class="uk-button uk-button-default"
                    type="submit"
            >
                Upload
            </button>
        </div>
    </form>
    <table class="uk-table uk-margin-top">
        <thead>
        <tr>
            <th>Bereich</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        {% for floor in floors %}
        <tr>
            <td>{{ floor.name }}</td>
            <td>
                <a href="{% url 'manage-floors' %}?download={{floor.id}}">
                    Herunterladen
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
