{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}

<div class="uk-container uk-margin-top">
    <h4>Aktuelles Passwort ändern</h4>
    <form method="post">
        {% csrf_token %}
        <div class="uk-margin">
            <input
                    class="uk-input {{ invalid|yesno:'uk-form-danger,' }}"
                    type="password"
                    placeholder="Passwort"
                    name="password"
                    required
            />
        </div>
        <div class="uk-margin">
            <input
                    class="uk-input {{ invalid|yesno:'uk-form-danger,' }}"
                    type="password"
                    placeholder="Passwort wiederholen"
                    name="retyped_password"
                    required
            />
        </div>
        {% if invalid %}
        <div
                class="uk-alert-danger"
                uk-alert
        >
            <a
                    class="uk-alert-close"
                    uk-close
            ></a>
            <p>Die beiden Passwörter passen nicht zusammen</p>
        </div>
        {% endif %}
        {% if success %}
        <div
                class="uk-alert-success"
                uk-alert
        >
            <a
                    class="uk-alert-close"
                    uk-close
            ></a>
            <p>Passwort erfolgreich geändert. Sie müssen sich erneut anmelden!</p>
            <a href="{% url 'login' %}">Jetzt neu anmelden</a>
        </div>
        {% endif %}
        <div class="uk-margin">
            <button
                    class="uk-button uk-button-primary"
                    type="submit"
            >
                Passwort ändern
            </button>
        </div>
    </form>
</div>
{% endblock %}
